@model CanIHazDadJoke.Models.HomeModel

<form asp-action="Index" asp-controller="Home">
    <label asp-for="SearchTerm"></label>
    <input asp-for="SearchTerm" placeholder="type search term here" />
    <input type="submit" />
</form>


@if (Model != null)
{
    @if (Model.SearchResults != null)
    {
        @if (Model.SearchResults.Results != null)
        {
            @foreach (var joke in Model.SearchResults.Results)
            {
                <li>@joke.Joke</li>
            }
        }
    }
}