body{
    margin: 10%;
}
#rotatingJoke{
    margin: 5%;
}

#searchForm, #searchResults {
    width: 100%;
    margin: 0 auto;
}

.highlight{
    font-weight: bold;
}

.shortJoke {
    color: #ffa600;
}

.mediumJoke {
    color: #bc5090;
}

.longJoke {
    color: #003f5c;
}

#short {
    background-color: #ffa600;
}

#medium {
    background-color: #bc5090;
}

#long {
    background-color: #003f5c;
}

#searchForm {
    padding-left: 25%;
    padding-right: 10%;
    width: 100%;
}

#resultDataRow{
    padding-top: 5%;
}

#resultDataRow, #searchResultsRow {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.square {
    height: 50px;
    width: 50px;
    background-color: #555;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 200%;
}