body{
    margin: 10%;
}
#rotatingJoke{
    margin: 5%;
}

#searchForm, #searchResults {
    width: 100%;
    margin: 0 auto;
}

.highlight{
    font-weight: bold;
}

.shortJoke {
    color: #ffa600;
}

.mediumJoke {
    color: #bc5090;
}

.longJoke {
    color: #003f5c;
}

#colorLegend {
    text-align: right;
    border-collapse: separate;
}


#short {
    background-color: #ffa600;
    width: 15px;
    height: 15px;
}

#medium {
    background-color: #bc5090;
    width: 15px;
    height: 15px;
}

#long {
    background-color: #003f5c;
    width: 15px;
    height: 15px;
}

#searchInputGroup, #resultDataRow, #searchResultsRow {
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
}